.container {
    composes: container from '../../Styles/Container.module.css';
}

.header {
    display: flex;
    justify-content: flex-end;
}

@media screen and (min-width: 768px) {
    .burger {
        top: 1rem;
        right: 1rem;
    }
}

@media screen and (min-width: 992px) {
    .burger {
        top: 1.5rem;
        right: 1.5rem;
    }
}