.colors {
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #DEE2E6;
    --grey-4: #CED4DA;
    --grey-5: #ADB5BD;
    --grey-6: #6C757D;
    --grey-7: #495057;
    --grey-8: #343A40;
    --grey-9: #212529;

    --linkHover: #3a86ff;

    --danger: #e63946;
    --primary: #457b9d;
    --success: #80ed99;
}