.trigger {
    composes: button from '../../Styles/Button.module.css';
    display: grid;
}

.icon {
    width: 1.5em;
    margin: auto;
    color: var(--grey-5);
}

.list {
    position: fixed;
    left: 0;
    bottom: -50%;
    z-index: 8000;
    width: 100%;
    height: 50%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.4rem 0.75rem;
    list-style: none;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0 0 0 / 0.2);
    overflow: auto;
    animation: out-mobile-menu var(--duration) var(--timing-function) forwards;
}

.listActive {
    animation: in-mobile-menu var(--duration) var(--timing-function) forwards;
}

.br {
    border-bottom: 2px solid var(--grey-2);
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
}

.btn {
    composes: reset from '../../Styles/Button.module.css';
    composes: common from '../../Styles/Types.module.css';
    --size: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.75em 0.75em 0.75em 1.75em;
    text-align: left;
}

.btnActive::before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 0.5rem;
    color: currentColor;
    font-size: 0.8em;
    line-height: 1;
    transform: translateY(-50%);
}

.degree {
    composes: strong from '../../Styles/Types.module.css';
}

@keyframes in-mobile-menu {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes out-mobile-menu {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes in-menu {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes out-menu {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    .wrap {
        position: relative;
    }
    
    .list {
        position: absolute;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
        min-width: 200px;
        width: unset;
        height: unset;
        transform: none;
        animation-name: out-menu;
    }

    .listActive {
        animation-name: in-menu;
    }
    
    .btn {
        composes: button from '../../Styles/Button.module.css';
    }

    .iconLang {
        width: 1rem;
    }
}