.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.img {}

.temp {
    composes: title from '../../Styles/Types.module.css';
    display: block;
    font-size: 3em;
    line-height: 1;
}

.description {
    composes: common from '../../Styles/Types.module.css';
}