.inner {
    composes: container from '../../Styles/Container.module.css';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    padding-top: 5rem;
    background: #fff;
}

.menu {
    composes: reset from '../../Styles/List.module.css';
}

.burger {
    composes: reset from '../../Styles/Button.module.css';
    /* border: 1px solid red; */
    position: relative;
    z-index: 9010;
    --size: 44px;
    width: var(--size);
    height: var(--size);
}

.first, 
.last {
    position: absolute;
    right: 8px;
    border-radius: 2px;
    display: block;
    height: 2px;
    background: var(--grey-4);
    transition: transform 500ms ease;
}

.first {
    top: 16px;
    width: 14px;
}

.last {
    top: 24px;
    width: 26px;
}

.link {
    composes: link from '../../Styles/Link.module.css';
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    line-height: 1;
    text-decoration: none;
}

.activeLink {
    color: red;
}