.menu {
    composes: reset from '../../Styles/List.module.css';
    composes: container from '../../Styles/Container.module.css';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9000;
    display: none;
    flex-direction: column;
    padding-top: 5rem;
    text-align: center;
    background: #fff;
}

.menuIsOpen {
    display: flex;
}

.burger {
    composes: reset from '../../Styles/Button.module.css';
    --size: 44px;
    position: relative;
    z-index: 9010;
    border-radius: 0.75rem;
    width: var(--size);
    height: var(--size);
}

.burgerActive{ 
    background: var(--grey-1);
}

.first, 
.last {
    position: absolute;
    right: 8px;
    border-radius: 2px;
    display: block;
    height: 2px;
    background: var(--grey-5);
}

.first {
    top: 16px;
    width: 14px;
}

.last {
    top: 24px;
    width: 26px;
}

[aria-expanded=true] .first {
    transform: translateY(4px) rotate(-45deg);
    width: 26px;
}

[aria-expanded=true] .last {
    transform: translateY(-4px) rotate(45deg);
}

.link {
    composes: link from '../../Styles/Link.module.css';
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    line-height: 1;
    text-decoration: none;
}

.activeLink {
    color: red;
}

@media screen and (min-width: 992px) {

    .burger {
        display: none;
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: row;
        padding: 0;
        text-align: left;
    }

    .link {
        font-size: 1.2em;
    }
}