.list {
	composes: reset from '../../Styles/List.module.css';
}

.trigger {
	composes: reset from '../../Styles/Button.module.css';
	display: flex;
	align-items: center;
    border-radius: 0.5rem;
	width: 100%;
	padding: 0.5rem;
	color: var(--grey-9);
	text-align: left;
	transition: background-color var(--duration) var(--timing-function);
}

.triggerActive {
	background: var(--grey-1);
}

.content {
	margin-top: 1em;
}

.icon {
	width: 0.7rem;
	color: var(--grey-6);
	transition: transform var(--duration) var(--timing-function);
}

.iconActive {
	transform: rotate(180deg);
}

@media screen and (min-width: 992px) {
		.trigger:hover {
			background: var(--grey-1);
			cursor: pointer;
	}
}